 <footer>
    <section id="bottom">
      <div class="bottom-cta">
        <h2 class="subtitle sc-over">
            <div lang="jp">会社情報</div>
            <div lang="mon">Компани</div>
            <div lang="eng">Company</div>
        </h2>
        <div  class="wrapper">
          <table class="table" >
              <tr>
                <th class="lang" key="nameCom" style="border:none;">
                  <span lang="jp">社名</span> 
                  <span lang="mon">Компанийн нэр</span>
                  <span lang="eng">Company name</span>
                </th>
                <td  style="border-width: 0px;" >
                  <span lang="jp">株式会社 Khabuko</span>
                  <span lang="mon"> Хабуко.ХХК</span>
                  <span lang="eng">Khabuko.LLC</span>
                </td>
              </tr>
              <tr>
                <th>
                  <span lang="jp">設立年月日</span>
                  <span lang="mon">Байгуулагдсан огноо</span>
                  <span lang="eng">Date of establishment</span>
                </th>
                <td>
                  <span lang="jp">2012年10月</span>
                  <span lang="mon">2012 оны 10-р сар</span>
                  <span lang="eng">July 2012 October</span>
                </td>
              </tr>
              <tr>
                <th>
                  <span lang="jp">資本金</span>
                  <span lang="mon">Хөрөнгө</span>
                  <span lang="eng">Capital</span>
                </th>
                <td>
                   <span lang="jp">100万 MNT</span>
                   <span lang="mon">1 сая төгрөг</span>
                   <span lang="eng">1 million MNT</span>
                </td>
              </tr>
              <tr>
                <th>
                  <span lang="jp">所在地</span> 
                  <span lang="mon">Байршил</span> 
                  <span lang="eng">location</span> 
                </th>
                <td> 
                   <span lang="jp">チンゲルテ地区、4番ホール、ツーリストストリート / MAX タワー8階803、モンゴル国ウランバートル </span>
                   <span lang="mon">Монгол улс, Улаанбаатар хот, Чингэлтэй дүүрэг, 4-р хороо, Жуулчны гудамж, Макс цамхаг, 8-р давхар 803 тоот </span>
                   <span lang="eng">Chingeltei district, 4th khoroo, Tourist street / MAX Tower 8F 803, Ulaanbaatar, Mongolia</span>
                </td>
              </tr>
              <tr>
                <th>
                    <span lang="jp">事業内容</span>
                    <span lang="mon">Бизнесийн тодорхойлолт</span>
                    <span lang="eng">Business description</span>
                 </th>
                <td>
                  <ul>
                   <!--  <li>
                      <span lang="jp">金融商品取引業</span>
                      <span lang="mon">Санхүүгийн хэрэгслийн бизнес</span>
                      <span lang="eng">Financial instruments business</span>
                    </li> -->
                    <li>
                      <span lang="jp">ソフトウェア開発、供給、機器取引、公式ディストリビューター。</span>
                      <span lang="mon">програм хангамж боловсруулах, нийлүүлэх, тоног төхөөрөмж худалдаа, албан ёсны дистрибьютер худалдаа.</span>
                      <span lang="eng">software development, supply, equipment trading, and official distributor.</span>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th class="ths"></th>
                <td class="tds">
                </td>
              </tr>
          </table>
        </div>
      </div>
    </section>
  </footer>
<!--   <img class="model" src="img/backtop.png" alt="" /> -->
  <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-arrow-circle-o-up"></i></a>

  <script src="assets/js/all.js"></script>
  <script type="text/javascript">
    let langs = ['jp', 'mon', 'eng'];
    let lang = 'mon';
    setLangStyles(lang);

    function setStyles(styles) {
      var elementId = '__lang_styles';
      var element = document.getElementById(elementId);
      if (element) {
        element.remove();
      }

      let style = document.createElement('style');
      style.id = elementId;
      style.type = 'text/css';

      if (style.styleSheet) {
        style.styleSheet.cssText = styles;
      } else {
        style.appendChild(document.createTextNode(styles));
      }
      document.getElementsByTagName('head')[0].appendChild(style);
    }

    function setLang(lang) {
      setLangStyles(lang);
    }

    function setLangStyles(lang) {
      let styles = langs
        .filter(function (l) {
          return l != lang;
        })
        .map(function (l) {
          return ':lang('+ l +') { display: none; }';
        })
        .join(' ');

      setStyles(styles);
    }
  </script>
  <script type='text/javascript' src="assets/js/custom.js"></script>
  <script type='text/javascript' src="assets/js/jquery.min.js"></script>
  <script type='text/javascript' src="assets/js/bootstrap.js"></script>
  <script type='text/javascript' src="assets/js/jquery.prettyPhoto.js"></script>
  <script type='text/javascript' src="assets/js/sequence.jquery.js"></script>
  <script type='text/javascript' src="assets/js/jquery-hover-effect.js"></script> 
  
