<!DOCTYPE HTML>
<html>
<head>
  {% include head.html %}
  <style type="text/css">
      img.dev{
        width: 200px;

      }
  </style>
</head>
<body>
    {% include header.html %} 
    <div id="services" class="parallax section lb">
        <div class="container">Түнш байгууллагууд
            <div class="section-title text-center">
                <h3 lang="eng">executed projects</h3>
                <h3 lang="mon">гүйцэтгэсэн төслүүд</h3>
                <h3 lang="jp">実行されたプロジェクト</h3>
               
                <!-- <p class="lead">Our Service unlimited solutions to all your business needs. in the installation package we prepare search engine optimization, social media support, we provide corporate identity and graphic design services.</p> -->
            </div><!-- end title -->
            <div class="owl-services owl-carousel owl-theme">
            {{ content}}
            </div><!-- end row -->
             <div class="section-title text-center">
                <h3 lang="eng">Authorized distributor</h3>
                <h3 lang="mon">Түнш байгууллагууд</h3>
                <h3 lang="jp">Authorized distributor</h3>
                <a href="https://ascon.net"> <img class="dev" src="assets/ascon.png"></a>
                <a href="https://www.ansys.com/"> <img class="dev" src="assets/ansys.png"></a>
                <a href="https://www.microsoft.com/"> <img class="dev" src="assets/Microsoft.png"></a>
                <a href="https://kompas.ru/ "> <img class="dev"  src="assets/logo-2017m.png"></a>
                <!-- <p class="lead">Our Service unlimited solutions to all your business needs. in the installation package we prepare search engine optimization, social media support, we provide corporate identity and graphic design services.</p> -->
            </div><!-- end title -->
          
            <hr class="hr1">
        </div><!-- end container -->
    </div><!-- end section -->
  {% include footer.html %}
</body>
</html>

